:root {
    --primary-color: #b6ae9f; /*khaki*/
    --secondary-color: #263D42; /*gunmetal*/
    --accent1-color: #2DE1C2; /*turquoise*/
    --accent2-color: #C5FFFD; /*celeste*/
    --heading-font: "Delicious Handrawn", serif;
    --text-font: "Ubuntu", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: grid;
    grid-template-columns: 200px 1fr;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header nav a {
    padding: 1rem;
    width: 150px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
}

body {
    font-family: var(--text-font);
    color: var(--secondary-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

h1 {
    font-size: 3rem;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: .7;
    background-color: var(--secondary-color);
    color: #fff;
}

h2 {
    font-size: 2rem;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

header nav a:link {
   color: var(--accent2-color); 
}

header nav a:visited {
    color: var(--accent1-color);
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
}

.home-hero {
    position: relative;
    height: auto;
}

.hero-overlay {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 65%;
    z-index: 1;
    background: linear-gradient(to left, rgba(38, 61, 66, 0.9), rgba(38, 61, 66, 0));
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem;
}

.home-hero h1 {
    position: static !important;
    background: none;
    color: white;
    text-align: right;
    font-size: 4rem;
    line-height: 1.2;
    letter-spacing: 2px;
    max-width: 100;
}

.home-hero h1 .center-word {
    display: inline-block;
    text-align: center;
    width: 100%;
    transform: translateX(-15px);
}

.hero img {
    width: 100%;
    z-index: 0;
    position: relative;
}

.hero article {
    position: absolute;
    top: 380px;
    color: black;
    background-color: var(--primary-color);
    padding: 8px;
}

.hero article p{
    margin:0;
}

.hero article img {
    margin: 8px;
    float: right;
    width:150px;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

.history h2 {
    padding-top: 1rem;
    grid-column: 1 / -1;
    text-align: center;
}

.history img {
    margin: 2rem 1rem;
    width: 200px;
    height: auto;
    justify-self: center;
}

footer {
    margin-top: 2rem;
    border-top: 1px solid black;
    display: flex;
    justify-content: right;
}

footer img{
    width:50px;
    height: auto;
}

.adventures h2{
    margin: 2rem 1rem;
    text-align: center; 
}

.adventure-bank {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
    border: 1px solid black;
}

.adventure-bank img {
    max-width: 140px;
    height: auto;
}

.adventure-bank figcaption {
    text-align: center;
}

.contact-title h1 {
    background-color: var(--secondary-color);
}

.landing-info {
    display: flex;
    justify-content: space-around;
}

.telephone a {
    text-decoration: none;
}

.location {
    display: flex;
    justify-content: space-evenly;
}

.location iframe {
    width: 450px;
    height: 300px;
}

.employees {
    background-color: var(--primary-color);
}

.employees h2 {
    text-align: center;
    padding: 1rem;
}

.employee-pics {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.employee-pics img {
    height:200px;
}

.message-form {
    margin: 2rem;
    padding: 1rem;
    border: 1px solid black;
}


.message-form h2 {
    text-align: center;
    border: 1px solid black;
    color: white;
    background-color: var(--secondary-color);
    padding: 5px;}

legend {
    font-weight: bold;
}

form {
    padding: 1rem;
}

fieldset {
    padding: 1rem;
    margin: 0.5rem;
}

label {
    display: block;
}

input[type="text"], textarea {
    width: 100%;
    padding: 0.5rem;
}

input[type="radio"] {
    margin-right: 0.5rem;
}

.radio-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.radio-buttons div {
    display: flex;
    flex: 1 1 30%;
    align-items: center;
}

button[type="submit"] {
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--accent2-color);
}

.submit-button {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.newsletter {
    display: flex;
    gap: 0.5rem;
}

.call-act {
    display: flex;
    text-align: center;
    border: 1px solid var(--secondary-color);
    padding: 1rem;
        box-shadow: 10px 5px 5px var(--secondary-color);
}

.button-link {
    display: inline-block;
    text-decoration: none;
    padding: 1rem;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    font-weight: bold;
}

.button-link:visited {
    color: var(--accent2-color);
    }


.offerings {
    margin: 0;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 1rem;
    background-color: var(--primary-color);
}

.offerings h2 {
    padding: 1.5rem;
    margin: 0.5rem;
    font-size: 3rem;
    border: 1px solid var(--secondary-color);
    background-color: white;
    box-shadow: 10px 5px 5px var(--secondary-color);
}

.expectations, .bring {
    text-align: center;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.expectations p {
    padding-top: 1rem;
    margin: 0;
}

.bring li {
    text-align: left;
}

.offerings img {
    margin: 1rem;
    max-width: 370px;
    justify-self: center;
}

.offerings-img {
    grid-row: span 2;
}

.offerings ul {
    padding: 0 3rem;
}

.fin-statement {
    font-weight: bold;
    font-size: 1.5rem;
    grid-column: span 2;
    text-align: center;
    justify-self: center;
    width: 100%;
    box-sizing: border-box;
}

.bring {
    grid-row: span 2;
}

.disclaimer {
    position: relative;
    width: 100%;
}

.disclaimer img{
    width: 100%;
    height: auto;
    display: block;
}

.disclaimer p {
    position: absolute;
    top: 100px;
    font-weight: bold;
    color: white;
    background-color: rgba(38, 61, 66, 0.8);
}

.home-form {
    margin-top: 3rem;
    background-color: var(--accent2-color);
    text-align: center;
    border: 1px solid lightgray;
    box-shadow: 10px 5px 5px var(--secondary-color);

}

.home-form h2 {
    padding: 0.5rem;
    text-align: left;
    font-size: 3rem;
    border-bottom: 1px solid var(--secondary-color);
}

.home-form form {
    padding-top: 0;
    text-align: left;
}